.page-header-additional-style {
	text-align: center;
	font-weight: bold;
}

.chart-button-override {
	font-size: 30px;
	background-color: #008CBA;
	border: none;
	height: 70px;
	width: 200px;
	font-style: 'arial';
}

.border-override{
	margin: auto;
}